<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-title>
            Sprint Retrospective
        </ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="moon"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="top">
            <img src="../../assets/sprint-retro-main-page.gif">
            <h1>
                <span>What is a</span>
                <span>sprint</span>
                <span>retrospective?</span>
            </h1>
            <ion-text>
                The sprint retrospective is a recurring meeting held at the end of a sprint used to discuss what went well during the previous sprint cycle and what can be improved for the next sprint. The Agile sprint retrospective is an essential part of the Scrum
                framework for developing, delivering, and managing complex projects.
            </ion-text>
        </div>

        <div class="middle">
            <h2>What is the purpose of a sprint retrospective?</h2>
            <img src="../../assets/purpose.gif">
            <p>The Scrum sprint retrospective is a timeboxed meeting that takes place after the sprint review and before sprint planning. Its purpose is to:</p>

            <ul>
                <li>
                    <p role="presentation">Examine how the just-completed sprint went as far as people, relationships, processes, and tools.</p>
                </li>
                <li>
                    <p role="presentation">Identify and order what went well.</p>
                </li>
                <li>
                    <p role="presentation">Do the same with things that didn’t go well.</p>
                </li>
                <li>
                    <p role="presentation">Identify potential improvements.</p>
                </li>
                <li>
                    <p role="presentation">Create a plan for implementing improvements to the way the Scrum team accomplishes its work.</p>
                </li>
            </ul>

            <p>Everything that affects how the Scrum team develops the product is open to discussion and improvement, including processes, tools, artifacts, environment, and so on. It allows development teams to adapt Scrum to their particular circumstances.</p>

            <p>Scheduling a Scrum retrospective at the end of every sprint ensures that needed changes are understood and implemented before they are lost in the rush of new work. It helps each Scrum team member to identify how they can improve the specific
                things they contributed to the sprint, asking:</p>

            <ul>
                <li>
                    <p role="presentation">What work has been done well in this sprint?</p>
                </li>
                <li>
                    <p role="presentation">What work hasn’t been done well?</p>
                </li>
                <li>
                    <p role="presentation">What should we start doing to improve?</p>
                </li>
            </ul>

            <p>During each Agile sprint retrospective, the development team focuses on increasing product quality by improving work processes or adapting the definition of “done.” This definition may vary from Scrum team to Scrum team. But the whole team
                must have the same understanding of “done” to assess when work has met expected standards.</p>

            <p>As Scrum teams gain more experience, their definition of “done” will evolve, including more demanding criteria for higher-quality results.</p>

        </div>

    </div>
</ion-content>