.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0 20px;
    position: relative;
    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 100%;
        img {
            user-select: none;
            max-height: 440px;
        }
        h1 {
            position: absolute;
            top: 60px;
            color: #5644b0;
            font-size: 40px;
            font-weight: 700;
            line-height: 1;
            margin: 0 auto;
            text-align: center;
            max-width: 348px;
            display: flex;
            flex-direction: column;
        }
        h1 span {
            white-space: nowrap;
        }
        ion-text {
            color: #413e53;
            font-size: 18px;
            font-weight: 600;
            line-height: 1.5;
            margin: 0;
            text-align: center;
        }
    }
    .middle {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100%;
        margin-top: 25px;
        padding-bottom: 50px;
        position: relative;
        img {
            user-select: none;
            max-height: 400px;
            max-width: 400px;
            align-self: center;
        }
        h2 {
            color: #5644b0;
            font-size: 40px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
        }
        p {
            color: #413e53;
            line-height: 1.5;
            margin: 0;
        }
        ul {
            list-style-type: circle;
            list-style-position: outside;
            list-style-image: none;
            li {
                font-size: 16px;
                font-weight: 600;
                line-height: 1.5;
            }
        }
    }
}