<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-title>
            Sprint Retrospective
        </ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="moon"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <img src="../../assets/sprint-retro-main-page.gif">
        <h1>
            <span>What is a</span>
            <span>sprint</span>
            <span>retrospective?</span>
        </h1>
        <ion-text>
            The sprint retrospective is a recurring meeting held at the end of a sprint used to discuss what went well during the previous sprint cycle and what can be improved for the next sprint. The Agile sprint retrospective is an essential part of the Scrum
            framework for developing, delivering, and managing complex projects.
        </ion-text>
    </div>
</ion-content>